<template name="postListItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3>
        <a href="{{url}}">{{title}}</a>
        <span>{{domain}}</span>
      </h3>
      <p>
        {{pluralize votes "vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postDetail'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}
          <a href="{{pathFor 'postEdit'}}">Edit</a>
        {{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postDetail'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>